@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-weight: 600;
  padding: 0;
  margin: 0;
  font-family:
    'Chakra Petch',
    'Digital Numbers',
    'Noto Sans TC',
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  background: #181818;
  color: white;
}
